<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">
            Upload photo
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="photo title" required #title>
                </div>
                <div class="form-group">
                    <textarea rows="2" class="form-control" placeholder="Photo description" required #description></textarea>
                </div>

                <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
                <img class="img-fluid" [src]="photoSelected || 'assets/no-image.jpeg'" alt="No image" (click)="photoInput.click()">


            </form>
            <div class="row">
                <button (click)="uploadPhoto(title, description)" class="btn btn-primary btn-block">
                    Upload
                </button>
            </div>
        </div>
    </div>
</div>